/* @import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');
 */
/* import font locally */
@font-face {
  font-family: "Bruno Ace";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./BrunoAce-Regular.ttf");
}

@font-face {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./Product Sans Regular.ttf");
}
.heros-background{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
body {
  padding: 0 !important;
  margin: 0 !important;
}
.main-container {
  display: flex;
  flex-direction: column;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.all-section-content-width {
  width: 1440px;
}
.section1-background {
  width: 100%;
  background: linear-gradient(180deg, #ff5733 0%, rgba(255, 87, 51, 0) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.section1 {
  position: relative;
  padding-top: 142px;
  padding-left: 116px;
  padding-right: 116px;
  height: 600px;
  padding-bottom: 52px;
}
.row-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main-logo {
  position: absolute;
  top: 52px;
  left: 116px;
  display: 176px;
  height: 180px;
  margin-bottom: 101px;
}
.nav-ul{
  margin-top: 98px;
}
.nav-ul li {
  margin-bottom: 44px;
  color: #fff;
  cursor: pointer;
  font-family: "Bruno Ace";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.nav-ul li a {
  text-decoration: none;
  user-select: none;
}

.nav-ul li::marker {
  content: "-   ";
}

.banner-img {
  width: 770px;
  height: 541px;
}
.section2 {
  display: flex;
  flex-direction: column;
  padding-top:140px;

}
h1 {
  color: #fff;
  font-family: "Bruno Ace";
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 80px;
}


.hero-carousal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.hero-rank {
  position: absolute;
  top: 16px;
  left: 22px;
}
h3 {
  color: #fff;

  font-family: "Bruno Ace";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hero-card {
  width: 272px;
  height: 279px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  border-radius: 30px;
  padding-top: 16px;
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, 0.15);

  background: rgba(255, 255, 255, 0.09);

  backdrop-filter: blur(15.199999809265137px);
}
.hero-card:hover {
  border-radius: 30px;
  background: radial-gradient(#FF3D00, #3f2016);
}
.hero-avatar {
  width: 100%;
  height: 175px;
  object-fit: cover;
  object-position: top
}
.hero-intro-div {
  position: absolute;
  bottom: 0;
  width: calc(100% - 44px);
  height: 72px;
  padding-top: 16px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 16px;
  border-radius: 0px 0px 25px 25px;
  border: 0px solid rgba(255, 255, 255, 0.28);

  background: rgba(255, 255, 255, 0.09);

  backdrop-filter: blur(15px);
}
h2 {
  color: #fff;

  font-family: "Bruno Ace";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 7px;
  margin-top: 0px;
}
.hero-intro {
  color: #fff;
  font-family: "Product Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

form{
  border-radius: 47.858px;
  border: 0.798px solid rgba(26, 26, 26, 0.34);
  
  background: rgba(255, 129, 74, 0.17);
  
  backdrop-filter: blur(8.295384407043457px);
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 35px 46px;
  width: 606.999px;
  
}
label,td{
  color: #FFF;

font-family: "Product Sans";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 5px;
margin-left: 15px;
}

th{
  color: #FFF;

  font-family: "Product Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
  margin-left: 15px;
}
input,textarea{
  border-radius: 23.929px;
border: 2.393px solid rgba(255, 87, 51, 0.60);
color: #FFF;
margin-bottom: 18px;
width:-webkit-fill-available;
background-color: transparent;
padding: 0 15px;

font-family: "Product Sans";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
input{
 
  height: 67.001px;
}

input:focus,input:focus-visible,input:hover{
  border: 2.393px solid rgba(255, 87, 51, 0.60);
  background: radial-gradient(#FF3D00, #3f2016);
  outline-offset: 0px;
  outline: unset;
}

button{
  width: 227.325px;
height: 67.001px;
  border-radius: 23.929px;
border: 2.393px solid rgba(255, 255, 255, 0.20);

background: #FF5733;
color: #FFF;

font-family: "Bruno Ace";
font-size: 23.929px;
font-style: normal;
font-weight: 400;
line-height: 67.001px;
text-align: center;
cursor: pointer;
}



.form-image{
  width: 473px;
height: 754px;
}

footer{
  width: 100%;
position: relative;
display: flex;
align-items: center;
justify-content: center;

}

.footer-content{
  margin-top: 300px;
  max-width: 1391px;
  min-width: 90%;
height: 223px;
flex-shrink: 0;
border-radius: 30px;
border: 1px solid rgba(255, 255, 255, 0.15);

background: rgba(255, 255, 255, 0.09);

backdrop-filter: blur(15px);

position: relative;
margin-bottom:50px


}
.footer-background{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
height: 492px;
flex-shrink: 0;
background: linear-gradient(360deg, #FF5733 0%, rgba(255, 87, 51, 0.00) 100%);


}
.footer-top{
display: flex;
flex-direction: row;
align-items: center;
width: 100%;
height: 138px;

}
.footer-logo{
  width: 118px;
  height: 120px;
  flex-shrink: 0;
  margin-left: 44px;
}
.footer-list{
  margin-left: 33px;
  display: flex;
  flex-direction: row;
  color: #FFF;

font-family: "Bruno Ace";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.footer-list-item{
  margin-left: 44px;
  cursor: pointer;
}
.footer-list-item::marker{
  content:""
}
.footer-bottom{
 
height: 83.125px;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content:center;
padding-left:35px ;
  border-radius: 0px 0px 25px 25px;
  background: rgba(255, 255, 255, 0.09);
  
  backdrop-filter: blur(15.199999809265137px);
}
.copyright-text{
  color: #FFF;

  font-family: "Product Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  margin-top: 0;
}
.footer-text{
  color: #FFF;

font-family: "Bruno Ace";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 3px;
margin-top: 0;
}
.hero-modal{
  display: none;
  align-items: center;
  justify-content: center;

  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  z-index: 10;
  background-color: hsla(14, 68%, 7%, 0.6);
}
table{
  width: 700px;
  border-radius: 16px;
  
  
  background: rgba(255, 129, 74, 0.17);
  
  backdrop-filter: blur(8.295384407043457px);
  border-collapse: collapse;
  text-align: center;
  text-transform: capitalize;
}
.hero-modal-inner{
  position: relative;
  width: 900px;
  background-color: black;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #ff5733 0%, rgba(255, 87, 51, 0.5) 100%);
  overflow: hidden;

}
td{
  /* border: 2px solid rgba(255, 87, 51, 0.60); */
  padding: 16px;
}
th{
  padding: 25px 16px 16px 16px;
  border-bottom: 2px solid rgba(255, 129, 74, 0.17);
}
td,th{}

.close{
  position: absolute;
  top: 10px;
  right: 30px;
  color: #FFF;
  font-family: "Bruno Ace";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
  margin-left: 15px;
  cursor: pointer;
}
.villians-background{
  position: absolute;
  height: 700px;
  width: 100%;
  bottom: 300px;
  left: 0;
  background: linear-gradient(360deg, #ff5733 0%, rgba(255, 87, 51, 0) 100%);
}
.villians-background-2{
  position: absolute;
  height: 500px;
  width: 100%;
  bottom: -200px;
  left: 0;
  background: linear-gradient(180deg, #ff5733 0%, rgba(255, 87, 51, 0) 100%);
}
.gallery-image{
  width: 100%;
  min-width: 100%;
  height: 100%;
  object-fit: cover;
  margin-right: 20px;
}
.image-gallery{
  display: flex;
  flex-direction: row;
  width: 680px;
  height: 100%;
  overflow: hidden;
}
.left{

  
  color: #FFF;
  font-family: "Bruno Ace";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
  margin-right: 15px;
  cursor: pointer;

}
.right{

  
  color: #FFF;
  font-family: "Bruno Ace";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
  margin-left: 15px;
  cursor: pointer;

}